<div class="reset-password-container">
  <h2>Réinitialiser le mot de passe</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Code à 6 chiffres</label>
      <input type="text" formControlName="code" maxlength="6" class="form-control" />
      <div *ngIf="submitted && f['code'].errors" class="text-danger">
        <small *ngIf="f['code'].errors['required']">Le code est requis</small>
        <small *ngIf="f['code'].errors['pattern']">Le code doit contenir 6 chiffres</small>
      </div>
    </div>
    <div class="form-group">
      <label>Nouveau mot de passe</label>
      <input type="password" formControlName="password" class="form-control" />
      <div *ngIf="submitted && f['password'].errors" class="text-danger">
        <small *ngIf="f['password'].errors['required']">Le mot de passe est requis</small>
        <small *ngIf="f['password'].errors['minlength']">Au moins 6 caractères</small>
      </div>
    </div>
    <div class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Changer le mot de passe</button>
  </form>
</div> 