.coded-navbar.pc-sidebar {
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;
  background: transparent !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  box-shadow: none !important;
}

.navbar-content {
  min-width: 400px !important;
  width: 100%;
  background: transparent !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
